spring:
  profiles:
    active: local
  datasource:
    url: jdbc:oracle:thin:@localhost:1521:XE
    username: toong
    password: 2579
    driver-class-name: oracle.jdbc.driver.OracleDriver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 1000
  devtools:
    restart:
      enabled: true # 서버 배포시 false
    livereload:
      enabled: true #서버 배포시 false
  thymeleaf:
    cache: false #서버 배포시 true

decorator:
  datasource:
    p6spy:
      enable-logging: true