<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="page-header">
        <h1>championInfo.html <!--h1태그 닫기전에 홈버튼 넣어주셔야 돼요!-->
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 
              </button>
        </h1>
        <div class="row">
            <div class="col-xs-4 col-md-1">
              <a href="#" class="top5counter">
                <img src="..." alt="...">
              </a>
            </div>
            <div class="col-xs-4 col-md-1">
                <a href="#" class="top5counter">
                  <img src="..." alt="...">
                </a>
            </div>
            <div class="col-xs-4 col-md-1">
                <a href="#" class="top5counter">
                  <img src="..." alt="...">
                </a>
            </div>
            <div class="col-xs-4 col-md-1">
                <a href="#" class="top5counter">
                  <img src="..." alt="...">
                </a>
            </div>
            <div class="col-xs-4 col-md-1">
                <a href="#" class="top5counter">
                  <img src="..." alt="...">
                </a>
            </div>
          </div>
      </div>

      <div class="champnavbar">
      <ol class="breadcrumb">
        <li><a href="./championInfo.html">챔피언 통계</a></li>
        <li><a href="./championchemi.html">챔피언 케미</a></li>
        <li><a href="./championcounter.html">챔피언 카운터</a></li>
      </ol>
    </div>

        <div>
            <h3>스킬</h3>
        </div>

        <div class="skillmaster">
        <div>
            <h4>마스터순서</h4>
        </div>
        
            
            <div class="skillrow">
                <div class="col-xs-4 col-md-1">
                <a href="#" class="skill">
                    <img src="..." alt="...">
                </a>
                </div>
                <div class="col-xs-4 col-md-1">
                    <a href="#" class="skill">
                    <img src="..." alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-1">
                    <a href="#" class="skill">
                    <img src="..." alt="...">
                    </a>
                </div>
                <div>
                    <ul class="rate">
                        <li>승률</li>
                        <li>픽률</li>
                    </ul>
                </div>
            </div>
            
            <div class="skilrow">
                <div class="col-xs-4 col-md-1">
                <a href="#" class="skill">
                    <img src="..." alt="...">
                </a>
                </div>
                <div class="col-xs-4 col-md-1">
                    <a href="#" class="skill">
                    <img src="..." alt="...">
                    </a>
                </div>
                <div class="col-xs-4 col-md-1">
                    <a href="#" class="skill">
                    <img src="..." alt="...">
                    </a>
                </div>
                <div>
                    <ul class="rate">
                        <li>승률</li>
                        <li>픽률</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="levelskill">
            <nav class="navbar navbar-default navbar-static-top">
              <div class="container">
                  <ul class="nav navbar-nav">
                      <li><a href="#">5레벨</a></li>
                      <li><a href="#">10레벨</a></li>
                      <li><a href="#">15레벨</a></li>
                  </ul>
                </div>
            </nav>
            
            <table class="table table-hover" id="skilltable">
    
                <tr>
                    <td>스킬</td>
                    <td>승률</td>
                    <td>선택률</td>
                </tr>
                <tr>
                    <td>스킬</td>
                    <td>승률</td>
                    <td>선택률</td>
                </tr>
                <tr>
                    <td>스킬</td>
                    <td>승률</td>
                    <td>선택률</td>
                </tr>
                <tr>
                    <td>스킬</td>
                    <td>승률</td>
                    <td>선택률</td>
                </tr>
                <tr>
                    <td>스킬</td>
                    <td>승률</td>
                    <td>선택률</td>
                </tr>
              </table>
        
          </div>
    </div>
</body>
</html>