<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <title>JSP AJAX</title>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<script>
    $(document).ready(function() {
        getCounter();
    });
    function getCounter() {
        var lane = '[[${lane}]]';
        var champId = [[${championId}]];
        var messageDTO={
            lane:lane
        };
        $.ajax({
            url: '/gamedata/api/champs/' + champId + '/counter5',
            data: messageDTO,
            type:'GET',
            success: function (data) {
                $('#top5CounterChamps').empty();
                var html ='';
                $.each(data.data, function (index, element) {
                    html += '<div class="col-xs-4 col-md-1 top5counter">';
                    html += '<a href="/gamedata/' + element.championId + '?lane=' + lane + '">';
                    html += '<img class="imagecountersize" src="/img/champion/' + element.championId + '.png" alt="">';
                    html += '</a>';
                    html += '<div>' + (element.rate*100).toFixed(2) + '</div>';
                    html += '</div>';
                });

                $('#top5CounterChamps').append(html);
            }
        });
    }
</script>
<body>
    <div class="page-header">
        <img style="margin-left: 50px" class="imagemainsize" th:src="@{${'/img/champion/' + championId + '.png'}}" alt="">'
        <img style="margin-left: 50px" class="imagelanesize" th:src="@{${'/img/lane/' + lane + '.png'}}" alt="">'
        <div class="row top5CounterChamps" id = "top5CounterChamps">
            <div class="col-xs-4 col-md-1">
                <a href="#" class="top5counter">
                    <img src="..." alt="...">
                </a>
            </div>
            <div class="col-xs-4 col-md-1">
                <a href="#" class="top5counter">
                    <img src="..." alt="...">
                </a>
            </div>
            <div class="col-xs-4 col-md-1">
                <a href="#" class="top5counter">
                    <img src="..." alt="...">
                </a>
            </div>
            <div class="col-xs-4 col-md-1">
                <a href="#" class="top5counter">
                    <img src="..." alt="...">
                </a>
            </div>
            <div class="col-xs-4 col-md-1">
                <a href="#" class="top5counter">
                    <img src="..." alt="...">
                </a>
            </div>
        </div>
    </div>

    <div class="champnavbar">
        <ol class="breadcrumb">
            <li><a th:href = "@{/gamedata/{championId}(championId = ${championId}, lane = ${lane})}">챔피언 통계</a></li>
            <li><a th:href = "@{/gamedata/{championId}/chem(championId = ${championId}, lane = ${lane})}">챔피언 케미</a></li>
            <li><a th:href = "@{/gamedata/{championId}/counter(championId = ${championId}, lane = ${lane})}">챔피언 카운터</a></li>
        </ol>
    </div>

    <div>
        <h3>카운터</h3>
    </div>
    <div>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="#">pick</a></li>
                    <li><a href="#">ban</a></li>
                    <li><a href="#">winrate</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div>
        <div class="col-xs-4 col-md-1">
            <a href="#" class="counterchamp">
            <img src="..." alt="...">
            </a>
        </div>
        <div class="col-xs-4 col-md-1">
            <a href="#" class="counterchamp">
            <img src="..." alt="...">
            </a>
        </div>
        <div class="col-xs-4 col-md-1">
            <a href="#" class="counterchamp">
            <img src="..." alt="...">
            </a>
        </div>
        <div class="col-xs-4 col-md-1">
            <a href="#" class="counterchamp">
            <img src="..." alt="...">
            </a>
        </div>
    </div>

    <div class="maincontainer">
        <div class='mainlane'>
            <div class="lane">
                탑
            </div>
            <div class="champions">
                    <div class="champ">
                        챔피언1
                    </div>
                    <div class="champ">
                        챔피언2
                    </div>
                    <div class="champ">
                        챔피언3
                    </div>
                    <div class="champ">
                        챔피언4
                    </div>
                    <div class="champ">
                        챔피언5
                    </div>
                </div>
        </div>
        <hr>
        <div class='mainlane'>
            <div class="lane">
                미드
            </div>
            <div class="champions">
                    <div class="champ">
                        챔피언1
                    </div>
                    <div class="champ">
                        챔피언2
                    </div>
                    <div class="champ">
                        챔피언3
                    </div>
                    <div class="champ">
                        챔피언4
                    </div>
                    <div class="champ">
                        챔피언5
                    </div>
            </div>
        </div>
    <hr>
        <div class='mainlane'>
            <div class="lane">
                정글
            </div>
            <div class="champions">
                    <div class="champ">
                        챔피언1
                    </div>
                    <div class="champ">
                        챔피언2
                    </div>
                    <div class="champ">
                        챔피언3
                    </div>
                    <div class="champ">
                        챔피언4
                    </div>
                    <div class="champ">
                        챔피언5
                    </div>
            </div>
        </div>
        <hr>
        <div class='mainlane'>
            <div class="lane">
                바텀
            </div>
            <div class="champions">
                <div class="champ">
                    챔피언1
                </div>
                <div class="champ">
                    챔피언2
                </div>
                <div class="champ">
                    챔피언3
                </div>
                <div class="champ">
                    챔피언4
                </div>
                <div class="champ">
                    챔피언5
                </div>
            </div>
        </div>
        <hr>
        <div class='mainlane'>
            <div class="lane">
                서포터
            </div>
            <div class="champions">
                <div class="champ">
                    챔피언1
                </div>
                <div class="champ">
                    챔피언2
                </div>
                <div class="champ">
                    챔피언3
                </div>
                <div class="champ">
                    챔피언4
                </div>
                <div class="champ">
                    챔피언5
                </div>
            </div>
        </div>
    </div>
</body>
</html>