<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <title>JSP AJAX</title>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</head>

<script th:inline="javascript">
$(document).ready(function() {
    var skill='skill5';
    getAjax(skill);
});
function sortTextTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc";
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch= true;
                    break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            }
        }
        if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;
        } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
        }
    }
}
function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    var arr;
    //Set the sorting direction to ascending:
    arr = ['asc', 'desc'];
    dir = arr[0];
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == arr[0]) {
                if (Number(x.innerHTML) < Number(y.innerHTML)) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch= true;
                    break;
                }
            } else if (dir == arr[1]) {
                if (Number(x.innerHTML) > Number(y.innerHTML)) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            }
        }
        if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;
        } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == arr[0]) {
                dir = arr[1];
                switching = true;
            }
        }
    }
}

function getAjax(skills) {
    var skill= skills;
    var lane = [[${lane}]];
    var champId = [[${championId}]];
    var messageDTO={
        skill:skill,
        lane:lane
    };
    $.ajax({
        url: '/gamedata/api/champs/' + champId + '/skills',
        data: messageDTO,
        type: 'GET',
        success: function (data) {
            console.log(data.data);
            $('#resultDiv').empty();
            var html = '<div id = "">';
            html += '<table id = "myTable">';
            html += '<tr>';
            html += '<th onclick="sortTable(0)">' + '스킬종류' + '</th>';
            html += '<th onclick="sortTable(1)">' + '게임량' + '</th>';
            html += '<th onclick="sortTable(2)">' + '이긴게임량' + '</th>';
            html += '</tr>';
            $.each(data.data, function (index, element) {
                html += '<tr>';
                html += '<td>' + element.skillCombination + '</td>';
                html += '<td>' + element.amountOfGame + '</td>';
                html += '<td>' + element.winAmountOfGame + '</td>';
                html += '</tr>';
            });

            html += '</table>';
            html += '</div>';
            $('#resultDiv').append(html);
        }
    }).done(
        function () {
            sortTable(1);
        }
    );
}
</script>

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #F2D7D5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">🌺</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row mt-3">
        <div class="card text-center">
            <h5 class="card-header">Data transmission using ajax</h5>
            <div class="card-body">
                <h5 class="card-title">hello! 😀 </h5>
                <p class="card-text">
                    Enter the text you want to send and click the button.</p>
                <form class="card-text">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="button" value = "skill5" onclick="getAjax(this.value)">skill5</button>
                            <button class="btn btn-outline-secondary" type="button" value = "skill10" onclick="getAjax(this.value)">skill10</button>
                            <button class="btn btn-outline-secondary" type="button" value = "skill15" onclick="getAjax(this.value)">skill15</button>
                        </div>
                    </div>
                    <div id="resultDiv">
                    </div>
                </form>
                <a href="#" class="btn" style="background-color: #EBDEF0">Go github</a>
            </div>
        </div>
    </div>
</div>