<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <title>main.html</title>
</head>
<body>
    <h3 class="main">main.html <!--홈버튼입니다-->
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 
          </button>
    </h3>
    <ul class="nav nav-tabs" id="lane-menu">
        <li role="presentation"><a href="#">탑</a></li>
        <li role="presentation"><a href="#">미드</a></li>
        <li role="presentation"><a href="#">정글</a></li>
        <li role="presentation"><a href="#">원딜</a></li>
        <li role="presentation"><a href="#">서포터</a></li>
        <li role="presentation"><a href="#">전체</a></li>
      </ul>

    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        11.24 패치 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
        <li><a href="#">..</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">....</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            플래티넘 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
            <li><a href="#">아이언</a></li>
            <li><a href="#">브론즈</a></li>
            <li><a href="#">실버</a></li>
            <li><a href="#">골드</a></li>
            <li><a href="#">실버</a></li>
            <li><a href="#">마스터</a></li>
            <li><a href="#">그랜드마스터</a></li>
            <li><a href="#">챌린저</a></li>
            </ul>
    </div>

    <table class="table table-hover" id="main-tbl">
        <thead>
        <tr>
            <th>순위</th>
            <th>챔피언이름</th>
            <th>라인</th>
            <th>승률</th>
            <th>픽률</th>
            <th>벤률</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
            <td>내용</td>
        </tr>
        </tbody>
      </table>
</body>
</html>